{% extends "shop/base.html" %}

{% block content %}
    <div class="pt-5 mt-5 container">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis doloribus expedita ipsam repudiandae tempore vitae. Accusantium architecto delectus excepturi maiores nemo praesentium rem rerum sint, sunt tenetur. Nostrum, sequi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam odit praesentium velit vero! Distinctio dolorem fugiat ipsam quibusdam quidem voluptatibus. Debitis facere maiores nesciunt nostrum optio quo, tenetur vel voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquam culpa delectus dolor dolores eligendi error illo, iusto magnam nesciunt quis voluptate. Dolore dolores in maiores modi nesciunt tempore?</p>
    </div>
{% endblock content %}
